
<div style="background-color:aqua;">
  <p>=== home ===</p>

  <app-counter
    [viewmodel]="viewmodel.r1"
    (submit)="onEmit($event)"
    (valueChange)="onRchange($event)"
  ></app-counter>

  <app-counter
    [viewmodel]="viewmodel.g1"
    (submit)="onEmit($event)"
    (valueChange)="onGchange($event)"
  ></app-counter>

  <app-counter
    [viewmodel]="viewmodel.b1"
    (submit)="onEmit($event)"
    (valueChange)="onBchange($event)"
  ></app-counter>

  <button (click)="changeShow()">改變</button>
  <div style="width: 100px; height: 100px" [ngClass]="{'hidden': isHidden()}" [ngStyle]="{'background-color': color1()}">1</div>
  <div style="width: 100px; height: 100px" [ngClass]="{'hidden': isHidden()}" [ngStyle]="{'background-color': color2()}">2</div>
</div>

